<!doctype html>
<html lang="en-US">
  <head>
    <title>{{ .Title }} | EngineersMY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- <link rel="stylesheet" href="/styles/beautiful.css"> -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ .Title }} | EngineersMY">
    <meta property="og:description" content="Community articles about technology">
    <meta property="og:url" content="https://articles.engineers.my/">
    <meta property="og:site_name" content="EngineersMY Articles">
    <meta property="og:type" content="website">

  </head>

  <body>
